
body{
  display: inline-block;
  margin-left:20%;
  margin-right:20%;
}

table{
width:150%;
height:120%;
}

th, td {
padding: 1px;
margin-bottom:20px;
color:green;
}
.footer{
border-color:blanchedalmond;
}                                                                                                              